<ion-content [fullscreen]="true" class="fondo">
  <div>
    <ion-text class="top-left-text">
      Inicio de Sesion
    </ion-text>
  </div>
  <div class="content">
    <ion-input class="inputL" label="Email input" type="email" placeholder="email@domain.com"></ion-input>
    <ion-input class="inputL" label="Password input" type="password" value="password"></ion-input>
    <ion-button class="bottom-button" expand="block" (click)="Entrar()">Entrar</ion-button>
    <ion-text class="text-buton">Olvidaste tu contraseña?</ion-text>
  </div>
</ion-content>
