<ion-content [fullscreen] class="fondo">
  <div class="top-div">
    <ion-text class="top-left-text">
      Registro
    </ion-text>
  </div>
  <div class="content">
    <ion-input class="inputL" label="Email input" type="email" placeholder="email@domain.com"></ion-input>
    <ion-input class="inputL" label="Password input" type="password" value="password"></ion-input>
    <ion-input class="inputL" label="Repetir Password" type="password" value="password"></ion-input>
      <ion-select class="inputL" label="Eleccion de usuario">
        <ion-select-option class="float" value="apple">Usuario</ion-select-option>
        <ion-select-option class="float" value="banana">Profesor</ion-select-option>
      </ion-select>
    <ion-button class="bottom-button" expand="block">Registrarme</ion-button>
  </div>
</ion-content>
