@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo{
    --background: url('../../assets/FondoLibreria.jpg') no-repeat center center fixed;
}
.Card-Profile{
    --background: var(--azul);
    box-shadow: 0px 0px 5px black;
    .DivImage{
        margin-top: 50px;
        margin-left: 160px;
        margin-bottom: 20px;
        .image {
            box-shadow: 2px 2px 2px black;
            height: 60px; 
            width: 60px; 
            border: 2px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        } 
    }
    .Title-card{
        text-align: center;
        font-family: 'Ysabeau Office', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 10px;
    }
}

ion-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
    ion-toolbar{
        padding-top: 20px;
        --background: transparent;
        --ion-color-base: transparent !important;
      ion-icon{
        color:var(--azul);
        size: 40px;
        font-size: 20px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }
      ion-label{
        font-weight: bold;
        color: var(--azul);
        font-family: 'Ysabeau Office', sans-serif;
        font-size: 12px;
        text-transform: none;
      }
    }
}
