@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');
.Fondo{
    --background: url('../../assets/FondoLibreria.jpg') no-repeat center center fixed;
} 
  ion-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
    ion-toolbar{
        padding-top: 20px;
        --background: transparent;
        --ion-color-base: transparent !important;
      ion-icon{
        color:var(--azul);
        size: 40px;
        font-size: 20px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }
      ion-label{
        font-weight: bold;
        color: var(--azul);
        font-family: 'Ysabeau Office', sans-serif;
        font-size: 12px;
        text-transform: none;
      }
    }
}